@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kablammo&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
*{
    background-color: transparent;
    
}
.roboto-mono{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
  }
.kablammo {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  
  font-variation-settings:
    "MORF" 0;
}
.logout{
    position: absolute;
    right: 25px; /* Adjust the distance from the right edge as needed */
    top: 15px;
    border:2px solid ;
    border:black solid 1px;
    font-size: 20px;
    margin:.7em ;
    padding:.2em;
    padding-left:.4em;
    padding-right:.4em;
    border-radius: .2em;
    border-color:rgb(253, 82, 82);
    color:rgb(253, 82, 82);
 
    

}
.logout:hover{
    transition:.25s;
    background-color: rgb(253, 82, 82);
    border-color:rgb(253, 82, 82);
    color:black;
}
.container{
    min-width:100vw;
    min-height:100vh;
    max-width: 100%;
    max-height: 100%;
    background-position:center;
    background-size:cover;
 
    
}
.container:nth-child(1){
    background-image:-webkit-linear-gradient(rgba(36, 34, 34, 0.978),rgba(27, 26, 26, 0.758)),url(wallpaperflare.com_wallpaper.jpg);
    background-attachment: fixed;
    background-repeat: repeat-y;
}

.title{
   
    
    background-color:rgba(0, 0, 0, 0.192);
    width:100%;
    min-width:max-content;
    min-height: max-content;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 7px 4px rgba(0, 0, 0, 0.329);
}
.tite{
    letter-spacing: .1cap;
    color:#e6d223;
    margin: 10px;
    font-size:3.2cap;
}
.headings{
    margin-top:2cap;
    width:100%;
    min-height:20cap;
    height:max-content;
    flex-wrap: wrap;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:1rem;
    padding-right:20px;
    padding-left:10px;
    background-color: transparent;
    
}
.add:hover{
    cursor:pointer;
    background-color: transparent;
    color:#e6d223;
    border:1px #e6d223 solid;
    transition: ease-in 0.21s;
}
.sub,.completesub{
    background-color:#e6d223;
    color:#080808;
    letter-spacing: .1cap;
    font-size:2cap;
    margin-top: .2em;
}
.list,.todo,.completed{
    
    margin-left:.7em;
    border:4px solid #e6d223;
    box-shadow: 1px 2px 3px;
    border-radius: 1cap;
    height: fit-content;  /* Height based on content */
    min-height: 200px; 
}


.box{

    background-color:#e6d223;
    min-height:max-content;
    display:flex;
    justify-content: center;
 
   
}
.img{
    width:50px;
}
.add{
    background-color: #e6d223;
    border:black solid 1px;
    font-size: 20px;
    margin:.7em ;
    padding:.2em;
    padding-left:.4em;
    padding-right:.4em;
    border-radius: .2em;
}
.tasks,.completedTasks{
    display:flex;
    justify-content: left;
    margin:3em;
}
.addingValue{
    background-color: transparent;
    max-width:80%;
    max-height:7em;
    border:3px #e6d223 solid;
    min-width:75%;
    margin:12px;
    min-height:3em;
    min-height:max-content;
    padding:.1em;
    border-radius:.2em;
    font-size:1em;
    color:#e6d223;
}

.stt{
   text-decoration: line-through ;
   color:#e6d223;
   font-size:1.2em ;
   
   word-wrap:break-word;
   word-break: keep-all;
   overflow-wrap: break-word;
   max-inline-size: 75%;
   
}

.nstt{
    text-decoration: none;
    
    color:#e6d223;
    font-size:1.2em ;
    word-wrap: break-word;
    word-break: keep-all;
    overflow-wrap: break-word;
    max-inline-size: 75%;
}
.forCheckbox{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #e6d223;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #3e3e42;
   
}
.forCheckbox:checked{
   

      /* Changes background when checked */
        border-color:#3e3e42; 
        background-color: #e6d223;/* Keeps border black */
    
}
.btn{
    display:flex;
    justify-content: space-between;
}
.delete1,.delete{
    display:none;
    background-color:transparent;
    border-color:rgb(253, 82, 82);
    color:rgb(253, 82, 82);


}
.delete:hover,.delete1:hover{
    cursor:pointer;
    border-color:black;
    background-color: rgb(253, 82, 82);
    color:#3e3e42;

}
 .complete,.complete1{
    display:none;
 }
